.register {
    .register-header {
        .title {
            color: var(--secondary);

            span {
                color: #3f64c9;
            }
        }

        .description {
            line-height: 1.7;
        }
    }

    .country-flag {
        margin-inline-end: 7px;
    }

    .country__control {
        width: 100%;
        min-height: 60px;
        height: 60px;
        padding: 0 12px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        background: #fff;
        box-shadow: none;
        font-size: 15px;
        font-weight: 500;
        transition: 0.2s ease;

        svg {
            fill: #3f64c9;
            opacity: .8;
        }

        &:hover {
            border-color: #e5e5e5;
        }

        &.country__control--is-focused {
            border-color: #3f64c9;
            box-shadow: none;
        }
    }

    .country__value-container {
        padding: 0;
    }

    .country__single-value {
        margin: 0;
    }

    .country__placeholder {
        margin: 0;
        opacity: 0.5;
        font-size: 14px;
    }

    .country__indicator-separator {
        display: none;
    }

    .country__indicators {
        padding: 0;
    }

    .country__menu {
        border-radius: 10px;
        overflow: hidden;
        margin-top: 5px;
    }

    .country__option {
        padding: 12px;
        font-size: 14px;
        cursor: pointer;

        &.country__option--is-focused {
            background: #f3f6fb;
        }

        &.country__option--is-selected {
            background: var(--primary);
            color: #fff;
        }
    }

    .terms {
        font-size: 12px;
        color: #666;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: var(--primary);
        }

        label {
            margin-bottom: 3px;
        }

        input {
            width: 20px;
            height: 20px;
            margin: 0;
            margin-inline-end: 10px;
            cursor: pointer;
        }
    }

    .register-submit {
        font-size: 18px;
        height: 65px;
        border-radius: 10px;
    }

    .login-link {
        font-size: 12px;

        a {
            color: #3f64c9;
            font-weight: 600;
        }
    }
}

@media (max-width: 767px) {
    .register {
        .register-form {
            .row > * {
                width: 100%;
            }
        }
    }
}