.register {
    .register-header {
        .title {
            color: var(--secondary);

            span {
                color: #3f64c9;
            }
        }

        .description {
            line-height: 1.7;
        }
    }

    .terms {
        font-size: 12px;
        color: #666;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: var(--primary);
        }

        label {
            margin-bottom: 3px;
        }

        input {
            width: 20px;
            height: 20px;
            margin: 0;
            margin-inline-end: 10px;
            cursor: pointer;
        }
    }

    .register-submit {
        font-size: 18px;
        height: 65px;
        border-radius: 10px;
    }

    .login-link {
        font-size: 12px;

        a {
            color: #3f64c9;
            font-weight: 600;
        }
    }
}

@media (max-width: 767px) {
    .register {
        .register-form {
            .row > * {
                width: 100%;
            }
        }
    }
}