.privacy-contact {
    margin-top: 30px;

    .privacy-section-title {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        color: var(--secondary);
        font-size: 20px;
        font-weight: 600;
    }

    .privacy-section-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 7px;
        background: #edf3ff;
        color: var(--primary);
        font-size: 13px;
        flex: 0 0 auto;
    }


    .privacy-contact-card {
        display: flex;
        align-items: center;
        gap: 12px;
        height: 100%;
        padding: 18px;
        border: 1px solid #e8edf6;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 5px 18px rgba(42, 76, 145, 0.05);
        transition: all .3s linear;
        &:hover {
            background-color: #F5F7FC;
            border-color: var(--primary);

        }
    }

    .privacy-contact-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 8px;
        background: #D0E3F8;
        color: var(--primary);
        font-size: 15px;
        flex: 0 0 auto;
    }

    h3 {
        margin-bottom: 5px;
        color: var(--secondary);
        font-size: 15px;
        font-weight: 600;
    }

    a,
    span {
        color: var(--primary);
        font-size: 18px;
        font-weight: 500;
    }

    a:hover {
        color: var(--primary);
    }
}

@media (max-width: 767px) {
    .privacy-contact {
        .privacy-contact-card {
            margin-bottom: 10px;
        }
    }
}