.download {
    position: relative;

    .download-box {
        position: relative;
        background-image: url("/images/why-bg.png");
        background-size: cover;
        background-position: top;
        .apps {
            width: 50%;
            .col-6.col-sm-3 div {
                width: 100%;
            }
            > div {
                display: flex;
            }
        }

        .app-item {
            position: relative;
            width: 100%;
            border: 1px solid #c5dff0;
            transition: all 0.3s ease;
            display: block;
            .ico {
                height: 95px;
            }

            .label {
                padding: 10px 6px 15px 6px;
                color: #fff;
            }

            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 12px 24px #375BC11a;
            }
        }
    }
}

@media screen and (max-width: 991px) {

    .download {

        .download-box {
            flex-direction: column;
            text-align: center;
            gap: 30px;

            .apps {
                width: 100%;
                justify-content: center;
            }
        }
    }
}