.service-feature {
    padding: 100px 0;



    &.last-feature {
        padding: 3vw;
        border-radius: 45px;
        background: linear-gradient(
            50deg,
            #F7F8FC, #F7F8FC,
            color-mix(in srgb, var(--theme-color) 40%, transparent)
            
        );
    }

    .feature-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }

    .feature-text {
        flex: 1;

        h2 {
            margin-bottom: 20px;
            font-weight: 500;
        }

        .description {
            font-size: 17px;
            line-height: 1.8;
            opacity: 0.7;
        }
    }

    .feature-image {
        flex: 1;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &.image_first {
        .feature-image {
            order: 1;
        }

        .feature-text {
            order: 2;
        }
    }

    &.image_last {
        .feature-text {
            order: 1;
        }

        .feature-image {
            order: 2;
        }
    }

    &.image_below {
        .feature-content {
            flex-direction: column;
            text-align: center;
            gap: 45px;
        }

        .feature-text {
            width: 100%;
            max-width: 750px;
        }

        .feature-image {
            width: 100%;
            max-width: 900px;
        }
    }
}

@media screen and (max-width: 991px) {
    .service-feature {
        padding: 70px 0;

        .feature-content {
            gap: 40px;
        }
    }
}

@media screen and (max-width: 767px) {
    .service-feature {
        padding: 50px 0;

        .feature-content {
            flex-direction: column;
            text-align: center;
            gap: 30px;
        }

        .feature-text,
        .feature-image {
            width: 100%;
        }

        &.image_first {
            .feature-image {
                order: 1;
            }

            .feature-text {
                order: 2;
            }
        }

        &.image_last {
            .feature-text {
                order: 1;
            }

            .feature-image {
                order: 2;
            }
        }
    }

    .service-feature.last-feature {
        border-radius: 25px;
        padding: 25px;
    }
}