.order-summary {
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    position: sticky;
    top: 20px;
    
    .summary-title {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 25px;
        color: var(--secondary);
        font-size: 20px;
        font-weight: 600;

        i {
            position: relative;
            top: 3px;
            color: var(--primary);
            margin-inline-end: 7px;
        }
    }

    .summary-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0;
        border-bottom: 1px solid #eee;
    }

    .summary-info {
        display: flex;
        flex-direction: column;
        gap: 7px;
        text-align: right;
    }

    .summary-label {
        color: var(--secondary);
        font-size: 17px;
        font-weight: 500;
    }

    .summary-info small {
        color: #999;
        font-size: 13px;
    }

    .summary-price {
        display: flex;
        align-items: center;
        gap: 8px;
        direction: ltr;
        align-items: end;
        img {
            width: 18px;
            height: 18px;
            object-fit: contain;
        }

        strong {
            color: #161b26;
            font-size: 17px;
            font-weight: 600;
        }
    }

    .summary-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0;
        color: var(--primary);
        font-size: 18px;
        font-weight: 600;

        .summary-price {
            strong {
                color: var(--primary);
                font-size: 20px;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .summary-discount {
        margin-top: 8px;
        padding: 9px 12px;
        border-radius: 20px;
        background: #e9fff2;
        color: #39b76a;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
}