.pricing-header {
    padding: 150px 0 70px 0;

    .pricing-label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 110px;
        padding: 8px 20px;
        border: 1px solid #375BC1;
        border-radius: 50px;
        color: #375BC1;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    h1 {
        margin: 0;
        line-height: 1.3;
    }

    .pricing-services {
        margin-top: 70px;
        padding: 30px 40px 50px;
        border-radius: 0 0 45px 45px;
        // background: #F7F8FC;
        background-image: linear-gradient(to bottom , transparent , #F7F8FC );
    }

    .services-title {
        margin: 0 0 25px;
        color: #666;
        font-size: 16px;
    }

    .services-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }

    .service-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
        min-width: 70px;

        span {
            font-size: 14px;
            font-weight: 600;
        }
    }

    .service-icon {
        width: 25px;
        height: 25px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media screen and (max-width: 991px) {
    .pricing-header {
        .services-list {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 45px;
        }
    }
}

@media screen and (max-width: 767px) {
    .pricing-header {
        padding-top: 70px;

        h1 {
            font-size: 32px;
        }

        .pricing-services {
            margin-top: 50px;
            padding: 25px 20px 30px;
            border-radius: 0 0 30px 30px;
        }

        .services-list {
            gap: 25px 30px;
        }
    }
}